.parent {
	display: flex;
	flex-flow: row wrap;
    justify-content: center;
    text-align: center;
}

.left {
	width: 100px;
	height: 100px;
	background: green;
	display: inline-block
}

.right {
	width: 100px;
	height: 100px;
	background: pink;
	display: inline-block;
}